.App {
  font-family: Barlow, sans-serif;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.App > * {
  height: 300px;
}

svg text {
  font-family: inherit !important;
}

.tooltip {
  font-size: 0.8rem;
}
