.change {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.change__value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change__trend {
  display: flex;
  flex-direction: column;
  font-size: 0.6rem;
  padding-left: 3px;
}

.change__trend svg {
  width: 20px;
  height: 20px;
}

.change__trend span {
  margin-top: -5px;
}
